// User styles
//
// This is the place where you should place all additional styles and imports.
// This will allow you to take advantage of future updates with lower time consumed on the upgrade process.
//

.bg-primary {
    background-color: #036cb5 !important;
}

.bg-dark {
    background-color: #036cb5 !important;
}

.footer-dark {
    color: white;
}

.navbar-dark .navbar-nav .nav-link,
.footer-dark,
.footer-dark .nav .nav-item .nav-link
{
    color: white;
}

.jumbotron-licence {
    background-color: #f58426 !important;
}

.jumbotron-master {
    background-color: #e40991 !important;
}

.header-bg {
    background-color: #036cb5 !important;
}

ul.digital-list {
    list-style-type: none;
    padding-left: 0;
}

ul.digital-list svg {
    margin-right: .5em;
}

.partner-logo {
    max-height: 33px;
}

.coming-soon {
    padding: 80px 0px 100px 0px;
    text-align: center;
}

.card-body {
    padding: 1.5rem;
}

.section-half-rounded .section-inner {
    top: 7rem;
    height: 80%;
}

.fast-curious-preview {
    display: block;
    width: 160px;
    height: 100px;
    border-radius: 10px;
    border: 1px #036cb5 solid;
    margin: 15px auto;
}

.fast-curious-preview img {
    width: 160px;
    height: 80px;
    margin: 9px 0;
    padding: 10px 20px;
    z-index: -1;
}

.fast-curious-overlay {
    color: rgba(255, 255, 255, .7);
    width: 160px;
    height: 100px;
    text-align: center;
    padding: 11px;
    margin-top: -99px;
    margin-left: -1px;
    background-color: rgba(3, 108, 181, 1);
    border-radius: 10px;
}

.fast-curious-overlay span {
    position: relative;
    top: -10px;
}

.fast-curious-overlay:hover {
    opacity: 0;
}

.section-half-rounded.interview {
    padding-bottom: 0;
}

.slice.interview {
    padding-top: 3rem;
}

.disabled {
    display: none;
}
