.register-left-pane .row {
  padding: 3rem 0;
}

.register-left-pane .step-title {
  background: rgba(0,0,0,0.3);
}

.register-right-pane .scrollable-content {
  overflow-y: auto;
}

.poi-add {
  text-align: center;
}

.empty-poi {
  padding: 3em 0 1em 0;
}

.poi-person {
  padding: 2rem;
  border-radius: 10px;
  border: thin solid #036cb5;
}
